// barvy

$primary: #6F4E37;    // Hlavní barva – tmavá kávová  
$secondary: #C4A484;  // Sekundární – béžová (barva mléčné pěny)  
$light: #F5F5DC;      // Světlé pozadí – krémová (barva latte)  
$dark: #3E2723;       // Kontrastní tmavá – téměř černá káva  
$accent: #A67C52;     // Akcent – světle hnědá (jako skořice)  